{{- define "main" -}}
<script src="/js/code.js" defer></script>
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/custom.css">
<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <main class="col-12 col-md-0 col-xl-10 py-md-3 pl-md-5 docs-content" role="main">
      <article class="article">
        {{ partial "page_header" . }}
        <div class="article-container">
          <div class="article-style">
            {{ .Content }}
          </div>
          {{ partial "page_footer" . }}
        </div>
      </article>
    </main>
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      <div class="custom-box">
        <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">目录</a></li>
        </ul> 
        {{ .TableOfContents }}
      </div>
      <div class="custom-box">
        <img id="recent-posts-icon" src="/img/recent-posts-dark.png" class="custom-icon"/><span>最近文章</span>
        <ul class="recent-posts">
          {{ range first 4 (sort .Site.RegularPages "Date" "desc") }}
          <li class="recent-post-item">
            <a href="{{ .Permalink }}" title="{{ .Title }}">
              {{ .Title }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
{{- end -}}
