{{- with .Site.Params.utterances }}
{{- $options := . }}
{{/* Merge the default options. */}}
{{- if and $options (ne $options site.Params.utterances) }}
{{- $options = merge site.Params.utterances $options }}
{{- end }}
{{- with $options }}
{{ if .enable }}
{{- if or (not .repo) (not .mapping) }}
{{- warnf "[utterances] repo is required." }}
{{- end }}
<script
  src="{{ .endpoint }}"
  repo="{{ .repo }}"
  issue-term="{{ .mapping }}"
  {{ with .label }}label="{{ . }}"{{ end }}
  theme="{{ .theme }}"
  crossorigin="{{ .crossorigin }}"
  async>
</script>
{{ end }}
{{- end -}}
{{- end -}}

